h1 {
}

h2 {
}

h3 {

}

#my_header {
	height:39px !important;
}

#only_mobile {
	display:none !important;
}

.img_full {
	max-width:960px !important;
	width:100% !important;
}

#floor1, #floor2, #floor3 {
	font-size: 14px !important;
}

#ub_logo {
	float:left !important;
	margin:6px 0 0 10px;
	display:inline-block !important;
	position: absolute;
}

#ub_logo_text {
	display:none !important;
}

#title_for_ipad {
	display:none !important;
}

#title_for_the_rest {
	display:block !important;
}

#img_ipad {
	display:inline !important;
	margin-left:auto;
	margin-right:auto;
}

#img_mobile {
	display:none !important;
}

/* for iPhone */	
@media screen and (max-device-width: 480px), screen and (max-width: 600px) {
	h1 {
		font-size: 11px !important;
		line-height:26px;
	}
	
	h2 {
		font-size: 12px !important;
	}
	
	h3 {
		font-size: 12px !important;
	}
	
	#only_mobile {
		display:block !important;
	}
	
	#floor1, #floor2, #floor3 {
		font-size: 12px !important;
	}
	
	#ub_logo {
		display:none !important;
	}

	#ub_logo_text {
		float:left !important;
		font-size:14px;
		line-height:39px;
		margin:0 0 0 10px !important;
		display:block !important;
		position: absolute;
	}
	
	#img_ipad {
		display:none !important;
	}

	#img_mobile {
		display:inline !important;
	}

}

/* for iPad*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	
	#img_ipad {
		display:inline !important;
	}
	
	#img_mobile {
		display:none !important;
	}
}

/* for larger Displays */
@media screen and (min-width: 980px) {
	
}