/* CSS for Langsdale iPad Kiosk web app (jQuery Mobile  */

/* Global styles */
.ui-content {
	background : transparent url(http://langsdale.ubalt.edu/ipad-kiosk/images/BACKDROP2.jpg) 0 0 no-repeat fixed !important;
	background-size : cover;
	}
.ui-bar {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	}
	
.bg-map {
	border-top-left-radius: 15px; 
	border-top-right-radius: 15px; 
	border-bottom-left-radius: 15px; 
	border-bottom-right-radius: 15px; 
	border-style:solid; 
	border-color:whitesmoke; 
	background-color:white;
	}

/* styles for Floor Plans*/
			
.map-icon {
	padding-bottom:100px; 
	padding-left:100px; 
	}
	
.map-index {
	padding-left:10px; 
	padding-top:10px; 
	padding-bottom:5px;
	}
		
.map-1st {
	padding-left:10px; 
	padding-top:10px; 
	padding-bottom:5px; 
	}
		
.map-1st-key {
	padding-bottom:120px; 
	padding-left:25px; 
	padding-right:10px; 
	}
	
.map-gen {
	padding-left:10px; 
	padding-top:10px; 
	padding-bottom:5px; 
	}
		
.map-key-gen {
	padding-bottom:120px; 
	padding-left:25px; 
	padding-right:10px; 
	}
	
/* Locator */

#myMap {
	border: 1px solid #ccc;
}

#mapWrapper {
	display:none;
    width: 450px;
    height:450px;
    margin: 0px auto;
    margin-top: 15px;
    margin-bottom: 50px;
}

#callNumber {
	font-family: Monospace;
    /*height: 21px;
    width: 320px;
    font-size: 14pt;
    padding: 8px;
    border: 1px solid #ccc;*/
}
#loading {
	width: 32px;
    height:32px;
    margin: 0px auto;
    margin-top: 50px;
	display: none;
}